<!doctype html>
<html lang="es">

<head>
  <title>ShazzApp</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    
      <!-- class css bsNavbar -->
      <nav class="navbar navbar-expand-lg bsNavbar">
        
          <div class="row container-fluid">
            <div class="col-12 col-sm-6 col-md-6">
              <a href="#" id="main-icon" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none fs-4 me-4">
                <img src="img/Group 11.png" alt="" class="d-inline-block align-text-top mainLogo"><h1 class="ms-2">TripMoon</h1> 
              </a>  
              <button class="navbar-toggler d-flex end-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
              <div class="collapse navbar-collapse" id="navbarScroll">
                    
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Contacto</a>
                  </li>
                </ul>
              </div>
             
            </div>
          </div>
       
      </nav>
  
  </header>
  <main>
  
    <!-- MAIN CONTAINER -->
    <div class="container">

        <div class="row">
          <div class="card-body">
            <div class="row">
            <div class="col-12 col-sm-2 col-md-3 col-lg-4"></div>
            
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
  
                    <img src="img/Group 12.png" class="mt-4 logoContainer" alt="">
                </div>
            <div class="col-12 col-sm-2 col-md-3 col-lg-4"></div>
  
              <div class="col m-4"> 
                <div class="border-info bg-opacity-25 card text-center m-4 p-3">
                    <h3>MISION</h3>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, deserunt aut, cupiditate itaque praesentium a ea unde voluptates blanditiis saepe alias! Est consequatur impedit esse explicabo animi expedita officia dolorum.
                    Reprehenderit vel voluptatibus rerum commodi repudiandae distinctio sequi eaque explicabo repellendus, quo aliquam nisi, hic voluptate dolorum quas dolore asperiores. Ipsa cupiditate expedita odio. Ipsa vel repellat dolor voluptatem culpa?
                    Neque eligendi natus odit eos incidunt non cumque sint et obcaecati blanditiis quo vel cum corporis at impedit, nihil quia nesciunt. Nemo magni dignissimos quo soluta recusandae tempore, tempora placeat!
                    Voluptate eveniet nemo, vel labore totam tempora. Nam animi enim molestias numquam nobis placeat quia, reiciendis distinctio provident quaerat explicabo, quas possimus deleniti ab mollitia neque, facilis doloribus! Magnam, distinctio.
                    Aperiam non dolores cum vitae possimus sunt commodi earum distinctio, nesciunt iste alias ipsa adipisci mollitia nihil pariatur cupiditate incidunt porro consequatur! Ex eum ad explicabo illum quasi minus molestias?
                    </p>
                </div>
              </div>
              <div class="col m-4">
                <div class="border-info bg-opacity-25 card text-center m-4 p-3">
                  <h3>VISION</h3>
                  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita adipisci quisquam reprehenderit. Consequatur eius nam odit temporibus corporis dolores, magni tenetur consequuntur mollitia expedita sapiente est quos amet omnis ducimus!
                  Earum molestiae reprehenderit recusandae non, illo quisquam ipsam quaerat nam veritatis animi aliquid tempora assumenda ipsa alias necessitatibus numquam consectetur exercitationem cum eveniet! Eum est qui dolor iste, ullam cumque!
                  Quae aliquam velit libero sequi amet dignissimos placeat incidunt magnam, perspiciatis adipisci in, ratione omnis enim delectus! Maxime deleniti tempore provident fugiat officia eius qui quod adipisci numquam cumque? Sapiente!
                  Repellat a ipsam voluptate? Earum minima illo error sint vero rem labore voluptatem ipsa et officiis? Voluptatum, qui dolorum possimus ipsam, tempore facere odio porro dolore perferendis minima ea molestiae?
                  </p>
                </div>
              </div>
            </div> 
            <br>
        </div>
  </div>

    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>